<div id="who_data">
  <div class="name row-fluid">
    <span class="span2">First and last name:</span>
    <span class="span7">
      {{ view Ember.TextField valueBinding="form.who_info.first_name" }}
      {{ view Ember.TextField valueBinding="form.who_info.last_name" }}
    </span>
  </div>
  <div class="name row-fluid">
    <span class="span2">Birthdate:</span>
    <span class="span7">
      {{ view Ember.TextField valueBinding="form.who_info.birth_data" }}
    </span>
  </div>
  <div class="name row-fluid">
    <span class="span2">Social Security Number:</span>
    <span class="span7">
      {{ view Ember.TextField valueBinding="form.who_info.ssn" }}
    </span>
  </div>
  <div class="name row-fluid">
    <span class="span2">Mother's Maiden Name:</span>
    <span class="span7">
      {{ view Ember.TextField valueBinding="form.who_info.mother_maiden_name" }}
    </span>
  </div>
  <div class="btn" {{action "submit"}}>Submit Form</div>
</div>
